a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: chocolate;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: navy;
  background-color: transparent;
  text-decoration: underline;
}

button:hover, a:hover {
  opacity: 0.7;
}